html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background-image: url(../img/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* MAIN SECTION */
q {
  color: #eea827;
}

p {
  display: inline-block;
  color: #fff;
  margin: 0;
}

address {
  display: inline-block;
  color: #eea827;
}
