html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  color: #fff;
  background-image: url(../img/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER SECTION */
.header {
  max-width: 700px;
  margin: 0 auto;
  border: 5px solid red;
  text-align: center;
}

hr {
  width: 50%;
}

/* MAIN SECTION */
q,
address {
  color: #eea827;
  font-weight: bold;
}

p {
  font-weight: normal;
  display: inline-block;
  color: #fff;
  margin: 0;
}

address {
  font-style: normal;
  display: inline-block;
}
